<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true">

    <Properties>
        <Property name="local.logging.path">/tmp/logs</Property>
        <Property name="project.name">mars</Property>
        <Property name="layout">%d %p [%t] %c{13}:%M:%L %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>
    </Appenders>

    <Loggers>

        <Logger name="org.quartz.impl.StdSchedulerFactory" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>
